.ReactModal__Overlay{
    background-color: rgba(22, 22, 22, 0.3) !important;
    z-index: 2;
}
.ReactModal__Content {
    overflow: visible;
    
}

.join-main-x {
    top: -50px;
    right: -45px;
    width: 50px;
    height: 50px;
    background: url('../img/bold-x.png')no-repeat center / contain ;
    cursor: pointer;
}

.join-main div > span, .textLength {
    
    right: 30px;
    top: 18px;
    color: #F99BB0;
    font-size: 14px;
}
.inputBox {
    border: 1px solid #c8c5d6;
    border-radius: 10px;
    padding: 15px;
    transition: all 0.5s;
    margin-top: 25px;
}
.join-main input {
    width: 70%;
    border: none;
    
    transition: all 0.5s;
    outline: none;
}

.join-main input::placeholder {
    font-size: 12px;
    color: rgba(164, 159, 186, 0.5);
}
.join-main input:-ms-input-placeholder{
    font-size: 12px;
    color: rgba(164, 159, 186, 0.5);
}
