/* 네브 */
.top:nth-child(1) {
  display: flex;
}
.top:nth-child(2) {
  display: none;
}

.top {
  justify-content: space-between;
  position: fixed;
  background: #fff;
  z-index: 2;
  width: 100%;
  height: 54px;
  box-shadow: 0px 2px 3px #E9E9E9 ;
  padding: 3px 0;
  align-items: center;
  
}

.nav-more-btn {
  width: 38px;
  height: 38px;
  background: url('./svg/more-btn-opa0.svg');
  border: none;
  margin-right: 20px;
  transition: all 0.2s;
}
.nav-more-btn:hover {
  background: url('./svg/more-btnOn.svg');
}
/* 메인 -----------------------------------------------------------------------------------------------------------------*/
.main {
  display: flex;
  border: 1px solid black;
  margin: 15px;
}
.article {
  border: 1px solid black;
  margin: 0 15px;
  background: #fff;
  

}
/* 프리뷰 섹션 */
#preview-container div img  {
  width: 100%;
  vertical-align: bottom;
}
#preview-container {
  padding: 3% 20%;
}

/* 업로드 섹션 -----------------------------------------------------------------------------------------------------------------*/
.article.a {
  text-align: center;
}
.Upload {
  height: 30%;
  width: auto;
}


.article.a button { 
  margin: auto;
  display: block;
}
.article.a label { 
font-size: 20px;
font-weight: 500;
}
.ImageUploaderButton {
  background: url('./svg/UploadButton.svg') !important;
  background-size: 88px !important;
  width: 88px !important;
  height: 88px !important;
  border: none !important;
  z-index: 1;
  top: 40%;
  transition: 0.3s;
  position: absolute;
}

.ImageUploaderButton:hover {
  background: url('./svg/UploadButton.svg') !important;
  background-size: 88px !important;
  transition: 0.3s;
  opacity: 0.8;

}

.ImaUp{
  position: relative;
  min-height: 680px;
}
.ImaUp > div {
  box-shadow: none;

}

.fileContainer {
  background: none !important;
  position: initial !important;
}



.uploadPicturesWrapper > div {
  top: -30px !important;
  max-height: 630px;
  overflow-y: scroll;
}

.uploadPicturesWrapper > div::-webkit-scrollbar {
  display:none;
}

.deleteImage{
  text-indent:-10000px;
  background: url('./svg/deleteButton.svg') !important;
  top: 0!important ;
  right: 0 !important;
  transition: 0.3s;
}
.deleteImage:hover{
  text-indent:-10000px;
  background: url('./svg/deleteButtonOn.svg')!important ;
  top: 0 !important;
  right: 0 !important;
  transition: 0.3s;
}
.uploadPicturesWrapper {
  position: relative ;
  

}
.uploadPictureContainer {
  background: none !important;
  box-shadow: none !important;
  border: 1px solid #A49FBA !important;
  border-radius: 10px;
  padding: 2px 10px !important;
  margin: 5px 2.5px !important;
  width: 130px !important;
  height: 195px !important;
  overflow: hidden;
}

/* 웹툰 보는 섹션 -----------------------------------------------------------------------------------------------------------------*/

/* 게시하기 섹션 -----------------------------------------------------------------------------------------------------------------*/
.UploadText {
  padding: 4%;
}
.UploadTitle {
  width: 100%;
  border: none;
  outline: none; 
  margin-bottom: 20px;
  font-size: 16px;


}
.sns-text {
  resize: none;
  border: none;
  outline: none;
  width: 100%;
  height: 220px; 
  font-size: 16px;
}

.PostOption {
  padding: 3%;
}

.PO {
  line-height: 60px;
  height: 60px;
  color: #A49FBA;
  padding: 10px; 
  display:flex;
  align-items: center;
}

.PO input {
  margin: 0 10px ;
  transition: 0.5s;
}
.PO input:hover {
  opacity: 0.7;
}
.Post {
  padding: 2% 0;
}
.Post button {
  border-radius: 34px;
  border:1px solid #F1AD39;
  background: #F1AD39;
  opacity: 0.8;
  color: #fff;
  height: 40px;
  position: relative;
  left: 70%;
  width: 107px;
}
.Post button:hover {
  opacity: 1;
  position: relative;

}
.ageSet-btn {
  border-radius: 34px;
  width: 72px;
  height: 32px;
  font-weight: bold;
  border: 1px solid #F7708F;
  margin-left: 16px;
  transition: all 0.2s;
}


/* 팝업 */
h1 {
  margin: 0;
  padding: 0;
}
html, body, .app {
  margin: 0;
  padding: 0;
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
}
.popup {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  z-index: 2;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  width: 300px;
  height: 380px;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background-color: #fff;
}

.Pf  {
  height: 365px;
  width: 100px;
  padding: 15px 0 0 20px;
}

.Pf button {
  margin-bottom: 35px;
}
.Pf button:hover {
  margin-bottom: 35px;
}
.popup-content {
  padding: 0 !important;
  border: none !important;
}

/* =------------------------------------ */
.divide {
  display: flex;
  align-items: center;
}


.makeStyles-list-300::-webkit-scrollbar {
  display:none;
}

.Age {
  background: url('./svg/Off/P_age.svg');
  width: 72px;
  height: 32px;
  border: none;
  cursor: pointer;
}

/* lnb--------------------------------------------------------- */

.lnb {
  position: fixed;
  bottom: 0;
  background: #fff;
  width: 100%;
}

.lnb-inner {
  margin: 0 auto;
  width: 100%;
  height: 52px;
}
.lnb-wrap {
  display: flex;
  justify-content: space-evenly;
  padding: 12.5px 0;
}
/* .lnb-wrap > button {
  float: left;
  width: calc(100% / 5);
  height: 52px;
  padding: 8px 0;
} */
.lnb-wrap > button {
  border: none;

}
.lnb-alert{
  background: url('./svg/lnb-alert.svg') no-repeat top left;
  width: 22.125px;
  height: 25px;
  
  
}
.lnb-chat{
  background: url('./svg/lnb-chat.svg') no-repeat top left;
  width: 26.032px;
  height: 23px;
}
.lnb-edit{
  background: url('./svg/lnb-edit.svg') no-repeat top left;
  width: 25.87px;
  height: 23px;
}
.lnb-follow{
  background: url('./svg/lnb-follow.svg') no-repeat top left;
  width: 23.999px;
  height: 22px;
}
.lnb-more{
  background: url('./svg/lnb-more.svg') no-repeat top left;
  width: 23px;
  height: 23px;
}


@media only screen and (min-width: 960px){

  html, body, #page-content {
    overflow: auto;
    z-index: 0;
  }
  .top:nth-child(1) {
    display: none;
  }
  .top:nth-child(2) {
    display: flex
  }
  .lnb{
    display: none;
  }
  .Logo {
    padding: 10px 20px 0 20px;
    
  }
  .top {
    display: flex;
    position: fixed;
    background: #fff;
    z-index: 2;
    width: 100%;
    height: 54px;
    box-shadow: 0px 2px 3px #E9E9E9 ;
    padding: 3px 0;
    align-items: center;
    
  }

  .Mode {
    display: flex;
    margin: 0 65px;
  }
  .Mode .gqppJ {
    margin-left: 10px;
  }
  .search-bar {
    display: flex;
    width: 100%;
    padding: 10px;
    border: 2px solid #F7F7F7;
    border-radius: 50px;
    background: #F7F7F7 ;
  }
  .serchBar {
    border: none;
    width: calc(100% - 50px);
    margin-right: 10px;
    background: #F7F7F7 ;

  }
  .search-bar > button {
    align-self: center;
    margin-left: 10px;
  }
  
  .option {
    display: flex;
    margin-left: 30px;
  }
  .option .sc-AxjAm {
    margin: 0 20px;
  }

  
}